.Admin {
    padding: 2rem 0;
}

.Admin .top {
    display: flex;
    justify-content: space-between;
}

.Admin button {
    font-size: 1.1em;
    padding: 0.6rem;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 10px
}

.actions {
    display: flex;
    align-items: center;
    height: 100%;
}

.action {
    border: 1px solid rgb(189, 189, 189);
    padding: 0.25rem;
    border-radius: 10px;
    cursor: pointer;
}

.action:last-child {
    color: red;
}

.products {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products table thead,
.products table tbody {
    border-color: rgba(0, 0, 0, 0.1);
}

.products table tr {
    background-color: transparent;
    transition: background-color .5s ease;
}

.products table tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.products table tr th {
    text-align: start;
    padding: 1rem 0.5rem;
}

.products table tr td {
    padding: calc(0.25rem * 2);
    background-color: transparent;
}

@property --styleb {
    syntax: "*";
    inherits: false;
    initial-value: solid;
}

.border-b {
    border-bottom-style: var(--styleb);
    border-bottom-width: 1px;
}

/* Product actions */

.Pagecontainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 1000px black;
    padding: 1.5rem;
}

.Card .info .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Card .info .form textarea {
    height: 5rem;
        padding: 0.5rem;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
}

.Card .actions {
    display: flex;
    justify-content: end;
}

.Card .actions button,
.cancelD,
.confirmD {
    font-size: 1em;
    border-radius: 10px;
}

.cancelD,
.confirmD {
    width: 40%;
    padding: 0.25rem;
}