:root {
    --short-color: rgb(105, 105, 105);
}

.home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.Header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Header a {
    text-decoration: none;
}

.Header .Elements {
    padding: 1rem 0rem;
    display: flex;
    height: 5vh;
}

.Header .Elements .Left,
.Header .Elements .Right {
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0 5rem;
}

.Header .Elements .Left {
    justify-content: start;
}

.Header .Elements .Left a {
    color: rgb(13, 148, 114);
    font-size: 25px;
    font-weight: bold;
}

.Header .Elements .Right {
    gap: 2rem;
    justify-content: end;
}

.Elements .Right .shopbtn {
    padding: 0.7rem 1.2rem;
}

.Elements .Right .cart {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.Elements .Right .cart p {
    position: absolute;
    color: white;
    top: 0.5%;
    right: 4%;
    font-size: 15px;
    border-radius: 7px;
    padding: 3px;
    width: 1rem;
    text-align: center;
    border-color: black;
    background-color: rgb(26, 26, 26);
}

.Elements .Right .shoppingcartbtn {
    padding: 0.5rem 1.2rem;
}

.Elements .Right .shopbtn,
.Elements .Right .shoppingcartbtn {
    color: black;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color .5s ease, color .5s ease;
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid transparent;
}

.Elements .Right .shopbtn:hover,
.Elements .Right .shoppingcartbtn:hover {
    background-color: rgba(128, 128, 128, 0.137);
}

.Elements .Right .shopbtn.enabled,
.Elements .Right .shoppingcartbtn.enabled {
    border-color: black;
    background-color: rgb(26, 26, 26);
    color: white;
}

.Header::after {
    content: " ";
    background-color: rgba(184, 184, 184, 0.63);
    width: 100%;
    height: 0.1rem;
}

/* Center */

.Center {
    width: 80%;
    min-height: 84dvh;
}

.Center .OffresContainer {
    height: 35vh;
    padding: 1.5rem 0;
    width: 100%;
}

.OffresContainer .BlankOffer {
    background-color: rgb(237, 237, 237);
    height: 100%;
}

.Center .Bar {
    width: 100%;
    display: flex;
    gap: 10px;
}

.Bar .SearchBar {
    width: 90%;
}

.Bar .CategoryBar {
    width: 20%;
}

.SearchBar label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    min-height: 36px;
    outline: 0 !important;
    gap: 15px;
}

.SearchBar label input {
    border: 0;
    width: 95%;
    height: 70%;
    font-size: 100%;
}

.SearchBar label input:focus {
    border: 0;
    outline: none;
    background-color: transparent;
}

.SearchBar label svg {
    cursor: pointer;
    color: hsl(0, 0%, 80%);
    padding: 0.25rem;
}

.SearchBar label:focus-within {
    border-color: #2648FF;
    box-shadow: 0 0 1px #2648FF;

}

.CategoryBar .Select {
    text-align: center;
}

/* Items */
.CategoryContainer {
    padding: 1rem 0;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 15px;
    overflow: hidden;
    padding-bottom: 5rem;
}

.ItemCard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    cursor: pointer;
    background-color: transparent;
    transition: box-shadow .5s ease;
}

.ItemCard:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.127);
}

.icon,
.ItemCard .infop {
    width: 100%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-bottom: 1rem;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.ItemCard .infop {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    text-align: start;
    margin-bottom: 1rem;
}

.categoryI {
    padding: 0.25rem 0.5rem;
    background-color: rgb(234, 234, 234);
    font-size: 15px;
    border-radius: 80%;
}

.nameI {
    font-size: 18px;
}

.descI {
    font-size: 15px;
    color: var(--short-color);
    min-height: 3rem;
}

.priceI {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 1rem;
}

.actions button {
    padding: 0.25rem 1.25rem;
    width: auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.add {
    background-color: black;
    color: white;
}

.actions .view {
    background-color: transparent;
}

/* Footer */

footer {
    border-top: 1px solid hsl(0, 0%, 80%);
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--short-color);
    background-color: rgba(238, 238, 238, 0.265);
}

/* Utils */

.border {
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

@media (width >=40rem) {
    .CategoryContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (width >=45rem) {
    .CategoryContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >=65rem) {
    .CategoryContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width >=97rem) {
    .CategoryContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}